version: "3.8"

services:

  db:
    image: mysql:8
    env_file: .env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10

  web:
    image: fastapi-app:latest
    build:
      context: .
      dockerfile: Dockerfile.python
    env_file: .env
    networks:
      - backend
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  reverse-proxy:
    image: haproxy
    ports:
      - "8080:8080"
    volumes:
      - ./haproxy/reverse/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    networks:
      - backend
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      endpoint_mode: dnsrr

  ingress-proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/ingress/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ingress/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  mysql_data:

networks:
  backend:
    driver: overlay
